@using WebMatrix.Data;
@using System.Configuration;
@using System.Data.SqlClient;
@{
    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\WeddingDB.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";


    Validation.RequireField("Email","Please fill in an email");
    Validation.RequireField("Password","Please fill in a password");

    var Email = "";
    var Password = "";
    var Ice = "";
    var code = 0;
    var SearchCode = "";

    if (Session["ID"] != null)
    {
        Response.Redirect("List.cshtml");
    }

    if (IsPost)
    {

        Email = Request.Form["Email"];
        Password = Request.Form["Password"];
        if (Validation.IsValid())
        {
            Database db = Database.OpenConnectionString(connectionString, provider);
            var CheckEmail = db.QuerySingle("SELECT Email FROM Account WHERE Email = (@0)", Email);
            var CheckPassword = db.QueryValue("SELECT Password FROM Account WHERE Email = (@0)", Email);
            Ice = db.QueryValue("SELECT UniqueCode FROM Account WHERE Email = (@0)",Email);

            if (CheckEmail!=null)
            {
                if (Crypto.VerifyHashedPassword(CheckPassword, Password))
                {
                    code = Ice.AsInt();
                    Session["Email"] = Email;
                    Session["ID"] = code;
                    Response.Redirect("~/List.cshtml");
                }

            }
            db.Close();
        }
        else if(Email == null)
        {
            Database db = Database.OpenConnectionString(connectionString, provider);
            SearchCode = Request.Form["Code"];
            try
            {
                var CodeCheck = db.QueryValue("select UniqueCode from List where UniqueCode = (@0)", SearchCode);
                if(CodeCheck is string)
                {
                    if(CodeCheck == SearchCode)
                    {
                        Session["Email"] = null;
                        Session["ID"] = SearchCode;
                        Response.Redirect("List.cshtml");
                    }
                }
            }
            catch
            {

            }
        }


    }


}
<!DOCTYPE html>
<html>
<head>
    <title>INDEX</title>
    <link rel="stylesheet" href="~/Stylez.css" type="text/css" />

    

    <style>

       

        
    </style>
</head>
<body>
    
    <div class="header">
        <h1>Bride Wish Inc</h1>
        <p>Make your wishes clear</p>
    </div>

    <!-- Navbar -->
    <div class="navbar">
        <a class="navbar-brand" href="~/Index.cshtml">Home</a>
        <a class="navbar-brand" href="~/Register.cshtml">Register</a>
        <a class="navbar-brand" href="~/List.cshtml">Wish List</a>
    </div>



    <div class="main">
        <form method="post">


            <h1>Login</h1>
            <label>Email:</label>
            @Html.ValidationMessage("Email")<br />
            <input type="email" name="Email" class="form-control" placeholder="Email" value="@Request.Form["Email"]" /><br />
            <label>Password:</label>
            @Html.ValidationMessage("Password")<br />
            <input type="password" name="Password" class="form-control" placeholder="Password" value="@Request.Form["Password"]" /><br /><br />
            <input type="submit" value="Login" />

        </form>
        <form method="post">
            <p> Or if you have already have a unique code </p>
            <label>Code</label>
            <input type="text" name="Code" /><br />
            <input type="submit" value="Go" />
        </form>
    </div>
</body>
</html>
