@using WebMatrix.Data;
@using System.Configuration;
@using System.Data.SqlClient;
@{
    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\WeddingDB.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";


    //variable
    string delete = "";
    string AddButton = "";
    string AddItem = "";
    float Price = 0;
    var temp12 = Request.QueryString["temp12"];
    int code = 0;

    if (Session["ID"] != null)
    {
        code = Convert.ToInt32(Session["ID"]);
    }
    else if(Session["ID"] == null)
    {
        Response.Redirect("Index.cshtml");
    }


    Database db = Database.OpenConnectionString(connectionString, provider);
    var Item = db.Query("SELECT Id,Item,Price,Bought FROM List where UniqueCode = @0", code);
    var grid = new WebGrid(Item);

    if (IsPost)
    {
        try {
            //retrieve values
            delete = Request.Form["Delete"];
            AddButton = Request.Form["Add"];
            AddItem = Request.Form["Item"];
            Price = Request.Form["Price"].AsFloat();




            //add
            if (AddButton == "Add")
            {
                var Dupes = db.QueryValue("SELECT Item FROM List WHERE Item and UniqueCode = (@0,@1)", AddItem,code);
                if (Dupes != AddItem)
                {


                    var insertpair = db.QueryValue("insert into list (Item, Price, UniqueCode) values (@0,@1,@2)", AddItem, Price, code); //insert data into empty space


                    Response.Redirect("~/List.cshtml");
                }
            }

            //delete
            if(delete == "Delete")
            {

                var DeleteDataFromTemp = db.Query("DELETE FROM List WHERE Item = @0",temp12);


                Response.Redirect("~/List.cshtml");

            }
            db.Close();
        }
        catch { };
    };


}
<!DOCTYPE html>
<html>
<head>
    <title>List</title>
    <link rel="stylesheet" href="~/Stylez.css" type="text/css" />

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
        }

        th {
            text-align: left;
        }
    </style>
</head>
   
<body>
    <div class="navbar">

        <a href="~/Index.cshtml">Index</a>

        <a href="~/Register.cshtml">Register</a>

        <a href="~/List.cshtml">List</a>
    </div>

    <div id="Grid">
        @grid.GetHtml(

            columns: grid.Columns(
                grid.Column("Id"),
                grid.Column("Item"),
                grid.Column("Price"),
                grid.Column(format: @<a href="~/List.cshtml?temp12=@item.Item">Select</a>)
                 )
             )

    </div>

    <form method="post">
        <label>Item:</label>
        <input type="text" name="Item" />
        <br/>
        <label>Price:</label>
        <input type="number" name="Price" />
        <br/>
        <input type="submit" value="Add" name="Add" />
        <input type="submit" value="Delete" name="Delete" />
    </form>

</body>

</html>
