

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
}

/* Header/logo Title */
.header {
    padding: 40px;
    text-align: center;
    background: #1abc9c;
    color: white;
    background-image: url('Images/wed1.jpg');
    background-position: center;
    background-size:cover;
}





/*---------------------------------------------------------------------------------------------------*/

.navbar {
    background-color: rgb(122, 128, 131);
    display: flex;
    overflow: hidden;
    position: sticky;
}

    .navbar a {
        padding: 20px;
        text-align: center;
        text-decoration: none;
        color: black;
        width: 33.333333333%;
    }

        .navbar a:hover {
            background-color: rgb(54, 52, 52);
        }
/*--------------------------------------------------------------------------------*/


input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

input[type=submit] {
    width: 100%;
    background-color: rgb(122, 128, 131);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

    input[type=submit]:hover {
        background-color:darkgray;
    }
/*---------------------------------------------------------------------------------------------------*/
.webgrid-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    width: 60%;
    display: table;
    border-collapse: separate;
    border: solid 1px black;
    background-color: darkslategray;
    margin:auto;
}

    .webgrid-table td, th {
        border: 1px solid gray;
        padding: 3px 7px 2px;
    }

.webgrid-header {
    background-color: rgb(122, 128, 131);
    color: red;
    padding-bottom: 4px;
    padding-top: 5px;
    text-align: left;
}

.webgrid-footer {
}

.webgrid-row-style {
    padding: 3px 7px 2px;
}

.webgrid-alternating-row {
    background-color: #EAF2D3;
    padding: 3px 7px 2px;
}
